/**
 * Admin bar notice
 */
 .mosaic-admin-bar-notice__wrapper {
	display: flex;
	align-items: center;
	gap: 10px;
}

.mosaic-admin-bar-notice__text,
.mosaic-admin-bar-notice__logo-image {
	display: block !important;
}

.mosaic-admin-bar-notice__text {
	font-size: 12px !important;
}

#wp-admin-bar-mosaic-admin-bar-notice:hover .mosaic-admin-bar-notice__text,
#wp-admin-bar-mosaic-admin-bar-notice:focus-within .mosaic-admin-bar-notice__text {
	color: var(--mosaic-primary-color) !important;
}